<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Queston 1</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/scriptQ1.js}"></script>
</head>
<body>
<br><br>
<center>
    <button onclick="myfunction()" id="btn" type="submit" name="btn">Click</button>
</center>
</body>
</html>