<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Question2</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/scriptQ2.js}"></script>
    <link th:href="@{/css/styleQ2.css}" rel="stylesheet">
</head>
<body>

<center>
    <h2>Hello World</h2>
    <br>
    <button id="btnQ2" type="submit">click to change color</button>
</center>

</body>
</html>