<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Question 4(Employee from DB)</title>
    <style>
        td{border: 1px black solid;}
    </style>
    <link th:href="@{/css/styleQ6.css}" rel="stylesheet"/>
</head>
<body>

<!-- Question 6 -->
<div th:replace="q6fragment::header"></div>
<center>
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>EMAIL</td>
        </tr>
        <tr th:each="emp : ${emp}">
            <td th:text="${emp.getId()}"></td>
            <td th:text="${emp.getName()}"></td>
            <td th:text="${emp.getEmail()}"></td>
        </tr>
    </table>
</center>

<div th:replace="q6fragment::footer"></div>

</body>
</html>